body
{
  font-family: Georgia;
}
/*a*/
a
{
  text-decoration: none;
  color: black;
}
.navbar a
{
  text-decoration: none;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
}
/*Dark Mode CSS*/
.dark-mode
{
  background-color: #333;
  color: #fff;
}
.dark-mode a
{
  color: #fff;
  text-decoration: none;
}
.dark-mode button
{
  background-color: white;
  color: black;
}
/*button*/
.button
{
  background-color: black;
  color: white;
  padding: 10px;
}
/*navbar*/
.navbar 
{
  overflow: hidden;
  margin-top: 50px;
}
.centerpage 
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}