body{
  font-family: Georgia;
}
a{
  text-decoration: none;
}
.navbar{
  text-align: center;
  padding: 10px;
  background-color: black;
  border-radius: 20px;
}
#navbar{
  overflow: hidden;
}
.navbar a{
  padding: 10px;
  font-weight: bold;
  color: white;
}
.navbar a:hover{
  background-color: grey;
  color: #fff;
}
.dark-mode{
  background-color: #000;
  color: #fff;
}
.dark-mode-btn{
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.dark-mode-btn:hover{
  background-color: #fff;
  color: #000;
}
.dark-mode .navbar {
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}
.dark-mode .navbar a{
  padding: 10px;
  font-weight: bold;
  color: black;
}
.dark-mode .navbar a:hover{
  background-color: grey;
  color: #fff;
}
.dark-mode .dark-mode-btn{
  background-color: #fff;
  color: #000;
}
.dark-mode .dark-mode-btn:hover{
  background-color: #000;
  color: #fff;
}
.home-content{
  margin: 10%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}